@tailwind base;
@tailwind components;
@tailwind utilities;



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bordercurve{

  border-radius:30px 100px 10px 10px;
}
.bordercurve-2{
  border-radius:150px 0px 150px 0px;
}

.backgrouimgg{
  background-image: url("./public/Bunch\ of\ gift\ boxes.png");
  background-position: left;
  background-repeat: no-repeat;

  background-size: contain;
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
}

.womanside{
  width: 390px;
  height: 560px;
}
.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}




@media not all and (min-width: 576px) {
  .womanside{
    width: 100%;
    height: 560px;
  }
  .backgrouimgg{
    height: 700px;
    margin-bottom: 100px;
  }
}